<main>
  <div class="contain" pad>
    <div class="products">
      <div class="product-area" *ngFor="let p of products">
        <div class="product-card">
          <h1>{{p.title}}</h1>
          <h2>{{ p.collection }}</h2>
          
          <a target="_blank" [href]="p.url">
            <button>
              {{ "CTA.COMPRE" | translate }}
            </button>
          </a>
          
        </div>
        <div class="product-card">
          <img
            [src]="p.imageUrl"
            alt="carteira gato"
          >
        </div>
      </div>
    </div>
  </div>
</main>