<main [attr.theme]="theme">
  <div class="contain">

		<div class="filter">
			<ul>
				<li opt (click)="filter('all')">{{ "CATEGORIA.TUDO" | translate }}</li>
				<li opt (click)="filter('kids')">{{ "CATEGORIA.INFANTIL" | translate }}</li>
				<li opt (click)="filter('other')">{{ "CATEGORIA.OUTROS" | translate }}</li>
			</ul>
		</div>

		<div (click)="toggleDisplay()" class="imagens">
			<img *ngFor="let project of visibleProjectsList" [src]="project.thumbnail" alt="">
		</div>
	</div>
</main>

<app-display [theme]="theme" *ngIf="viewDisplay"
	(viewEmitter)="toggleDisplay()"
></app-display>
