main {
  padding: 1rem;
}

.filter {
  position: sticky;
  top: 0.8rem;
  width: max-content;
  margin: 0 auto;
  padding: 0.2rem;
  border-radius: 4px;
  // display: flex;
  display: none;
  justify-content: center;

  background-color: #eee5;
  backdrop-filter: blur(4px);


  ul {
  display: flex;
  min-width: 50%;
  max-width: 90%;
  flex-direction: row;
  justify-content: space-evenly;

    li {
      padding: 0.3rem 0.5rem;
      margin: 0 0.5rem;
      border-radius: 100px;
      white-space: nowrap;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;

      &:hover {
        text-decoration-color: inherit;
        background-color: none !important;
      }
    }
  }
}


.imagens {
  height: fit-content;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  img {
    cursor: pointer;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

}

main[theme=light] {
  transition: all ease 0.3s;
  background-color: var(--backgroundI-light);
}

main[theme=dark] {
  transition: all ease 0.3s;
  background-color: var(--backgroundI-dark);
  color: var(--font-dark);

  .filter {
    color: #000;
  }
}