<main [attr.theme]="theme">
  <div class="contain">

		<div class="filter">
			<ul>
				<li opt (click)="filter('all')">{{ "CATEGORIA.TUDO" | translate }}</li>
				<li opt (click)="filter('kids')">{{ "CATEGORIA.INFANTIL" | translate }}</li>
				<li opt (click)="filter('other')">{{ "CATEGORIA.OUTROS" | translate }}</li>
			</ul>
		</div>

		<div class="imagens">
			<img 
				*ngFor="let project of visibleProjectsList"
				[src]="project.thumbnail"
				alt="project.titulo"
				(click)="toggleDisplay(project)"
			>
		</div>
	</div>
</main>

<app-display
	*ngIf="viewDisplay"
	[theme]="theme"
	[selectedProject]="selectedProject"
	(viewEmitter)="toggleDisplay()"
>
</app-display>
