<main >
  <div class="contain columns2" min-75vh>
    <div pad>
      <h2>{{ "ABOUT.TRABALHO.GOSTO" | translate }}</h2>
      <p>{{ "ABOUT.TRABALHO.P1" | translate }}</p>
      <h2>{{ "ABOUT.TRABALHO.ESTUDEI" | translate }}</h2>
      <p>{{ "ABOUT.TRABALHO.P2" | translate }}</p>
      <h2>{{ "ABOUT.TRABALHO.QUE_FACO" | translate }}</h2>
      <p>{{ "ABOUT.TRABALHO.P3" | translate }}</p>
      <h2>{{ "ABOUT.TRABALHO.COMO_FACO" | translate }}</h2>
      <p>{{ "ABOUT.TRABALHO.P4" | translate }}</p>
    </div>
    <div pad>
      <div class="image-area">
        <img src="../../../assets/images/andressa.jpg" alt="Andressa">
      </div>
    </div>
  </div>
</main>