<main [attr.theme]="theme">
  <div class="contain form">
    <h2>{{ 'FORM.TITLE' | translate }}</h2>
    <form>
      <b class="warn">{{ 'FORM.MANDATORY_FIELDS' | translate }}</b>
      <div form-input>
        <input type="text" name="name" required placeholder=" " [(ngModel)]="nameControl">
        <label for="name">{{ "FORM.NAME" | translate }}*</label>
      </div>

      <div class="input-columns2">
        <div form-input>
          <input type="email" name="email" required placeholder=" " [(ngModel)]="emailControl">
          <label for="email">{{ "FORM.EMAIL" | translate }}*</label>
        </div>
  
        <div form-input>
          <input type="text" name="phone" placeholder=" " [(ngModel)]="phoneControl">
          <label for="phone">{{ "FORM.PHONE" | translate }}</label>
        </div>
      </div>

      <div form-input>
        <select name="subject" required id="select" [(ngModel)]="subjectControl">
          <option><b>{{ "SUBJECT.CHOOSE" | translate }}*</b></option>
          <option value="ilustracao">{{ "SUBJECT.ILLUSTRATION" | translate }}</option>
          <option value="identidade">{{ "SUBJECT.IDENTITY" | translate }}</option>
          <option value="comentario">{{ "SUBJECT.OTHER" | translate }}</option>
        </select>
      </div>

      <div form-input>
        <textarea name="message" required
        placeholder=" " [(ngModel)]="messageControl"
        ></textarea>
        <label for="message">
          {{ 'FORM.MESSAGE' | translate }}*
        </label>
      </div>

      <div class="button-area">
        <button
          (click)="sendForm()"
        >{{ 'BUTTONS.SEND' | translate }}</button>
      </div>

    </form>
  </div>
  <div class="contain columns2" min-75vh>
    <div pad>
      <h2>{{ "ABOUT.TRABALHO.TITULO" | translate }}</h2>
      <p>{{ "ABOUT.TRABALHO.P1" | translate }}</p>
      <p>{{ "ABOUT.TRABALHO.P2" | translate }}</p>
    </div>
    <div pad>
      <div class="image-area">
        <img src="../../../assets/images/andressa.jpg" alt="Andressa">
      </div>
    </div>
  </div>
</main>