footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 1rem;
  background-color: var(--bg-300);
  color: var(--color-normal);
  z-index: 20;

  .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    color: var(--text-normal);

    .contact {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .contact-text {
      @media (max-width: 600px) {
        display: none;
      }
    }

    .icons {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
    }

    .z-icon {
      width: 30px;
      filter: var(--svg-normal);

      &:hover {
        filter: var(--svg-accent);
      }
    }

    a,
    a:visited {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }   
  }
}
