<footer>
  <div class="contain" row>
    <div pad>
      <!-- <h3>{{ "FOOTER.COMPARTILHE" | translate }}</h3> -->
      <div class="min">
        <a class="z-icon" target="_blank" href="https://instagram.com/andressailustradora">instagram</a>
        <a class="z-icon" target="_blank" href="https://behance.net/andressaaraujo4">behance</a>
        <a class="z-icon" target="_blank" href="https://facebook.com/amaarteedesign">facebook</a>
        <a class="z-icon" target="_blank" href="https://www.artstation.com/andressaraujo">artstation</a>
      </div>
    </div>
  </div>
</footer>
<div id="dev">
  <div class="contain">
    <p><a target="_blank" href="https://diogozdev.github.io">by: Diogo Lara</a></p>
  </div>
</div>
