<footer>
  <div class="contain">
    <div class="contact">
      <div class="contact-text">Entre em contato</div>
      <a class="z-icon" matTooltip="e-Mail" (click)="sendMail()">mail</a>
      <a class="z-icon" matTooltip="Whatsapp" (click)="sendMessage()">whatsapp</a>
    </div>
    <div class="icons">
        <a class="z-icon" matTooltip="Instagram" target="_blank" href="https://instagram.com/andressailustradora">instagram</a>
        <a class="z-icon" matTooltip="Behance" target="_blank" href="https://behance.net/andressaaraujo4">behance</a>
        <a class="z-icon" matTooltip="Facebook" target="_blank" href="https://facebook.com/amaarteedesign">facebook</a>
        <a class="z-icon" matTooltip="Artstation" target="_blank" href="https://www.artstation.com/andressaraujo">artstation</a>
    </div>
  </div>
</footer>
