<footer id="footer">
  <div class="contain">
    <div class="contact">
      <div class="contact-text">Entre em contato</div>
      <a class="z-icon" matTooltip="e-Mail" (click)="sendMail()">
        <img src="assets/icons/email.svg" alt="">
      </a>
      <a class="z-icon" matTooltip="Whatsapp" (click)="sendMessage()">
        <img src="assets/icons/whatsapp.svg" alt="">
      </a>
    </div>
    <div class="icons">
        <a class="z-icon" matTooltip="Behance" target="_blank" href="https://behance.net/andressaaraujo4" >
          <img src="assets/icons/behance.svg" alt="">
        </a>
        <a class="z-icon" matTooltip="Instagram" target="_blank" href="https://instagram.com/andressailustra.art" >
          <img src="assets/icons/instagram.svg" alt="">
        </a>
        <a class="z-icon" matTooltip="Facebook" target="_blank" href="https://facebook.com/amaarteedesign" >
          <img src="assets/icons/facebook.svg" alt="">
        </a>
        <a class="z-icon" matTooltip="Artstation" target="_blank" href="https://www.artstation.com/andressaraujo" >
          <img src="assets/icons/artstation.svg" alt="">
        </a>
    </div>
  </div>
</footer>
