header {
    min-height: 150px;
    padding-top: 30px;

    h1, h3 {
        text-align: center;
    }
}

header[theme=light] {
    transition: all 0.3s ease;
    background-color: var(--backgroundI-light);
    color: var(--font-light);
}

header[theme=dark] {
    transition: all 0.3s ease;
    background-color: var(--backgroundI-dark);
    color: var(--font-dark);
}