<div [attr.theme]="theme" class="background">
  <div class="display">
    <div class="chevron">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <div class="image">
      <div class="image--art">
        <!-- TEMPLATE DA IMAGEM -->
        <img
          *ngIf="projetoSelecionado !== null"
          [src]="projetoSelecionado.thumbnail"
          alt="projetoSelecionado.titulo"
        >
        <!-- FIM TEMPLATE IMAGEM -->
        <mat-icon
          class="icon chev chev-left"
        >chevron_left
        </mat-icon>
        <mat-icon
          class="icon chev chev-right"
        >chevron_right
        </mat-icon>
        <mat-icon
          (click)="toggleDisplayView()"
          class="icon close"
        >cancel</mat-icon>
      </div>
      <div class="image--info" *ngIf="showInfo">
        <!-- TEMPLATE INFORMAÇÂO -->
        <h1>{{ projetoSelecionado?.titulo }}</h1>
        <p>{{ projetoSelecionado?.descricao }}</p>
        <!--  -->
      </div>
      <mat-icon (click)="toggleArtInfo()" class="icon info">info</mat-icon>
    </div>
    <div class="chevron">
      <mat-icon>chevron_right</mat-icon>
  </div>
</div>
