mat-icon {
  width: fit-content;
  height: fit-content;
}

.background {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  width: 95vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 3rem;
      text-align: center;
      width: 100%;
      color: #eee;
      text-shadow: 2xp 2px 0 #000;
    }
  }

  .image {
    position: relative;
    display: flex;
    max-height: 85vh;

    .icon {
      color: white;
      position: absolute;
      text-shadow: 2px 2px 5px #000;

      text-align: center;
      font-size: 1.5rem;

      transition: transform 0.3s ease;

      &:hover {
        transform: 
          scale(1.2);
      }
    }

    .interaction-icons {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      width: min-content;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: #111;

      mat-icon  {
        position: relative;
        text-shadow: none;
      }
    }
    
    .image--art {
      position: relative;
      width: 100%;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }

      .chev {
        font-size: 2.5rem;
      }

      .chev-left {
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      .chev-right {
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      .mobile-info {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: #fffd;
        padding: 3rem 1.5rem 1rem;
        overflow-y: auto;

        h1 {
          margin-bottom: 1rem;
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }

        @media (min-width: 651px) {
          display: none;
        }
      }
    }

    .image--info {
      width: 50%;
      border-radius: 0 8px 8px 0;
      padding: 2rem;
      background-color: #fff;
      color: #000;

      h1 {
        font-size: 30px;
        line-height: 1.5;
        padding: 1ch 0;
      }

      p {
        text-indent: 1ch;
        font-size: 16px;
        line-height: 1.8;
      }

      @media (max-width: 650px) {
        display: none;
      }
    }
  }
}

.background[theme=light] {
  .image--info {
    background-color: #fff;
    color: #000;
  }

  .interaction-icons {
    background-color: #fff;
  }

  .image {
    .info {
      color: #222;
    }

    .close {
      color: #222;
    }
  }
}


.background[theme=dark] {
  .image--info {
    background-color: #111;
    color: #eee;
  }

  .interaction-icons {
    background-color: #111;
  }

  .info {
    color: #eee;
  }

  .close {
    color: #eee;
  }
}