<div class="background">
  <div class="display">
    <div class="chevron">
      <mat-icon (click)="previousProject()">chevron_left</mat-icon>
    </div>
    <div class="image">
      <div class="image--art">
        <!-- TEMPLATE DA IMAGEM -->
        <img
          *ngIf="selectedProject !== null"
          [src]="selectedProject.imagens[imgCount]"
          alt="selectedProject.titulo"
          loading="eager"
        >
        <div *ngIf="showInfo" class="mobile-info">
          <h1>{{ selectedProject.titulo }}</h1>
          <p>{{ selectedProject.descricao }}</p>
        </div>
        <!-- FIM TEMPLATE IMAGEM -->
        <mat-icon 
          *ngIf="imgCount !== 0"
          class="icon chev chev-left"
          (click)="previous()">
          chevron_left
        </mat-icon>
        
          <mat-icon
          *ngIf="hasNext"
          class="icon chev chev-right"
          (click)="next()">
          chevron_right
        </mat-icon>
      </div>
      <div class="image--info" *ngIf="showInfo">
        <!-- TEMPLATE INFORMAÇÂO -->
        <h1>{{ selectedProject.titulo }}</h1>
        <p>{{ selectedProject.descricao }}</p>
        <!--  -->
      </div>
      <div class="interaction-icons">
        <mat-icon (click)="toggleArtInfo()" class="icon info">
          text_snippet
        </mat-icon>
        <mat-icon (click)="toggleDisplayView()" class="icon close">
          cancel
        </mat-icon>
      </div>
    </div>
    <div class="chevron">
      <mat-icon  (click)="nextProject()">chevron_right</mat-icon>
  </div>
</div>