header {
  position: relative;
  width: 100vw;
  height: calc(100vh - 6.3rem);
  background: var(--bg-100);
  display: flex;
  justify-content: center;
  align-items: center;

  h1,h2 {
    text-align: center;
  }

  h1 {
    font-size: clamp(2em, 5em, 5vw);
    color: var(--green-500);
  }
  h2 {
    font-size: clamp(1em, 3em, 2.5vw);
    color: var(--gray-500);
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
    }
  }


#logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 60vw;
  aspect-ratio: 40/24.5;
}

#logo {
  display: block;
  filter: var(--svg-normal);
  width: 100%;

  @media (max-width: 500px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

  #feather {
    width: 14%;
    position: absolute;
    bottom: 8%;
    right: 0;

    filter: var(--svg-accent);
  }
}

#sm {
  &-cloud-1 {
    width: var(--sm-cloud-size);
    top: 40%;
    right: 1%;
  }
  
  &-cloud-2 {
    width: var(--sm-cloud-size);
    top: 60%;
    right: 30%;
  }
  
  &-cloud-3 {
    width: var(--sm-cloud-size);
    top: 85%;
    right: 42%;
  }
}

#lg {
  &-cloud-1 {
    width: var(--lg-cloud-size);
    top: 5%;
    right: 1%;
  }
  
  &-cloud-2 {
    width: var(--lg-cloud-size);
    top: 30%;
    right: 25%;
  }
  
  &-cloud-3 {
    width: var(--lg-cloud-size);
    top: 65%;
    right: 60%;
  }
  
  &-cloud-4 {
    width: var(--lg-cloud-size);
    top: 75%;
    right: 2%;
  }
}

.sm-clouds-movement {
  filter: opacity(0.5);
  animation: sm-clouds-wind 80s infinite alternate;
}

.lg-clouds-movement {
  filter: opacity(0.5);
  animation: lg-clouds-wind 80s infinite alternate;
}

@keyframes sm-clouds-wind {
  from {
    transform: translateX(3vw);
  }
  to {
    transform: translateX(-8vw);
  }
}

@keyframes lg-clouds-wind {
  from {
    transform: translateX(5vw);
  }
  to {
    transform: translateX(-20vw);
  }
}