<header>
  <div class="layer" #logoLayer>
    <img id="logo" src="assets/images/header/new-logo.svg" alt="logo">
  </div>
  <div class="layer" #smCloudsLayer>
    <img class="sm-clouds-movement" id="sm-cloud-1" src="assets/images/header/sm-cloud-1.png" alt="small cloud 1">
    <img class="sm-clouds-movement" id="sm-cloud-2" src="assets/images/header/sm-cloud-2.png" alt="small cloud 2">
    <img class="sm-clouds-movement" id="sm-cloud-3" src="assets/images/header/sm-cloud-3.png" alt="small cloud 3">
  </div>
  <div class="layer" #lgCloudsLayer>
    <img class="lg-clouds-movement" id="lg-cloud-1" src="assets/images/header/lg-cloud-1.png" alt="large cloud 1">
    <img class="lg-clouds-movement" id="lg-cloud-2" src="assets/images/header/lg-cloud-2.png" alt="large cloud 2">
    <img class="lg-clouds-movement" id="lg-cloud-3" src="assets/images/header/lg-cloud-3.png" alt="large cloud 3">
    <img class="lg-clouds-movement" id="lg-cloud-4" src="assets/images/header/lg-cloud-4.png" alt="large cloud 4">
  </div>
</header>
