<main>
  <h1>{{ "PAGES.PRODUCTS" | translate }}</h1>
  <loader-bar *ngIf="loading"></loader-bar>
  <div class="contain" pad>
    <div class="products">

      <div *ngIf="loading; else realProducts" class="product-area">
        <app-product-card-mock class="product-card" *ngFor="let p of [1,2,3,4,5,6]">
        </app-product-card-mock>
      </div>

      <ng-template #realProducts>
        <div  class="product-area">
          <ng-container *ngFor="let p of products">
            <app-product-card
              [imageUrl]="p.imageUrl"
              [title]="p.title"
              [url]="p.url"
              [collection]="p.collection"
            >
            </app-product-card>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</main>