// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nanum+Pen+Script');

// Local Fonts
@font-face {
    font-family: 'Z Icons';
    src: url(../assets/fonts/z_icons.ttf);
}

@font-face {
    font-family: 'Font Gothic';
    src: url(../assets/fonts/GOTHIC.TTF);
}

// Colors Palette
@import './colors.scss';
@import './themes.scss';

// Root styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Font Gothic', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: inherit;
    overflow: hidden;
}

img {
    width: 100%;
}

.contain {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}

/* IMPORTANT STYLES */

mat-icon {
    cursor: pointer;
}

ul {
    display: block;
    min-width: max-content;
    min-height: max-content;
}

li {
    list-style-type: none;
}

[row] {
    display: flex;
    flex-direction: row;
}

[col] {
    width: 100%;
}

[pad] {
    padding: 1rem;
}

[to-right] {
    margin-left: auto;
}

[grid2] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

[opt] {
    cursor: pointer;
}

[center] {
  margin: 0 auto;
}

[pad-x] {
  padding: 0 2rem;
}

[pad-y] {
  padding: 2rem 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-100);

  &-thumb {
    background: var(--bg-300);
    border: solid 2px transparent;
    border-radius: 4px;
  }

  &-track {
    background: transparent;
  }
}

snack-bar-container {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
  background-color: rgb(77, 174, 230);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 900;
  box-shadow: 0 0 5px #0005;


  button {
    background: transparent;
  }
}