@use "./colors.scss";

body {
  --menu: var(--gray-200);
  --menu-text: var(--gray-800);
  --menu-opt-hover: var(--gray-300);

  --bg-100: var(--gray-50);
  --bg-200: var(--gray-100);
  --bg-300: var(--gray-200);

  --color-normal: var(--gray-900);
  --color-accent: var(--green-700);
  --color-theme: hsl(162, 56%, 46%);
  --color-theme-transparency: hsla(162, 56%, 46%, 0.5);

  --button-accent: var(--green-400);

  --shadow: 0 0 4px #0003;

  --svg-normal: invert(80%);

  --svg-inverted: invert(90%);

  --svg-accent:invert(58%) sepia(76%) saturate(363%) hue-rotate(111deg) brightness(90%) contrast(89%);

  --sm-cloud-size: clamp(60px, 120px,12vw);
  --lg-cloud-size: clamp(120px, 240px,25vw);
}

body.dark {
  --menu: var(--gray-900);
  --menu-text: var(--gray-50);
  --menu-opt-hover: var(--gray-800);

  --bg-100: var(--gray-800);
  --bg-200: var(--gray-700);
  --bg-300: var(--gray-600);

  --color-normal: var(--gray-50);
  --color-accent: var(--green-400);
  
  --button-accent: var(--green-500);

  --shadow: none;

  --svg-normal: 
  invert(15%);

  --svg-inverted: 
  invert(90%);
}
