<div class="background-modal">
  <main>
    <div class="display-header">
      <h1 pad-x>{{ project.titulo }}</h1>
      <mat-icon class="close" (click)="closeArtDisplay()">close</mat-icon>
    </div>

    <div pad-x class="description">
      {{ project.descricao }}
    </div>

    <div class="art">
      <div class="image-area"
      *ngFor="let url of project.imagens">
        <img 
          [src]="url"
          [alt]="url"
        >
      </div>
    </div>

    <div class="display-footer">
      <h2>Obrigada!</h2>
      
      <img id="logo" src="" alt="logo">
      <span id="cnpj">CNPJ: 40.068.642/0001-47</span>
    </div>
  </main>
</div>