<div class="background-modal">
  <main>

    <mat-icon class="close" title="fechar" (click)="closeArtDisplay()">close</mat-icon>
    <mat-icon class="share" title="compartilhar" (click)="shareArt(project.tag)">share</mat-icon>
    <h1 pad-x>{{ project.titulo }}</h1>
    
    <div pad-x class="description" *ngFor="let paragraph of project.descricao.split('//')">
      {{ paragraph }}
    </div>

    <div class="art">
      <div class="image-area"
      *ngFor="let url of project.imagens">
        <img 
          [src]="url"
          [alt]="url"
        >
      </div>
    </div>

    <div class="display-footer">
      <div>
        <h2>{{ "GENERAL.THANKS" | translate }}</h2>
        <span id="cnpj">CNPJ: 40.068.642/0001-47</span>
      </div>
      <div>
        <img id="art-display-logo" src="assets/images/header/logo-feather-color.svg" alt="logo">
      </div>
    </div>
  </main>
</div>