<app-cover></app-cover>
<main>
  <loader-bar *ngIf="loading"></loader-bar>
  <div min-75vh>

		<div class="filter">
			<ul>
				<li opt
					*ngFor="let f of filters"
					(click)="filter(f.value)">
					{{ f.key | translate }}
				</li>
			</ul>
		</div>

		<div class="imagens">
			<div class="imagem-container" 
				*ngFor="let project of visibleProjectsList"
				(click)="openProject(project)">
				<img
				class="thumbnail"
				[src]="project.thumbnail"
				[alt]="project.titulo">
			</div>
		</div>
	</div>

  <app-art-display
    *ngIf="viewDisplay"
    [project]="selectedProject"
    (closeDisplay)="closeDisplay()"
  >
  </app-art-display>

</main>


