nav {
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 50;
  background-color: var(--bg-300);
  box-shadow: var(--shadow);
  color: var(--menu-text);

  .navigation {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      li {
          list-style: none;
          padding: 0.5rem;

          &.logo {
            width: 40px;
          }
      }

      .logo {
        max-width: 55px;
        filter: var(--svg-accent);
      }
    }
  }
}

.settings {
  transition: display 1s ease;
  transition-delay: 2s;
  padding-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  // border: solid 1px red;

  .configuration-background {
    display: none;
    background-color: transparent;
    padding-top: 80px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 0;
  }

  .configuration {
    display: flex;
    background-color: var(--bg-300);
    color: var(--menu-text);
    flex-direction: row;
    padding: 0.5rem;
    min-height: max-content;
    border-radius: 4px;
    box-shadow: var(--shadow);
  
    div {
      width: 100%;
      padding: 0.5rem;
      top: 0;
    }
  
    div:last-child {
      border-left: 1px solid #bbb;
    }
  
    h3 {
      font-size: 1rem;
      font-weight: 200;
      text-align: center;
    }
  
    .opt {
      font-size: 0.8rem;
      padding: 0.4rem;
      width: 100%;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
  
      &:hover {
        background-color: var(--menu-opt-hover);
      }
    }
  }

  &:hover .configuration-background {
    display: block;
  }
}

.active-tab {
  text-decoration: underline;
  text-underline-offset: 4px;
}