<div class="to-top" *ngIf="showScroll">
    <mat-icon (click)="toTop()">arrow_drop_up</mat-icon>
</div>


<nav [attr.tema]="theme">
    <div class="contain" row>
        <div class="navigation">
            <ul>
                <li opt (click)="sendPage('home')">{{ "NAV.INICIO" | translate }}</li>
                <li opt (click)="sendPage('about')">{{ "NAV.SOBRE" | translate }}</li>
            </ul>
        </div>
        <div class="settings" to-right>
            <mat-icon class="gear" (click)="toggleConfiguration()">settings</mat-icon>
            <div class="configuration" *ngIf="showConfiguration">
                <div>
                    <ul>
                        <li class="opt" (click)="setLanguage('PT')">português</li>
                        <li class="opt" (click)="setLanguage('ES')">español</li>
                        <li class="opt" (click)="setLanguage('EN')">english</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="opt"
                            (click)="setTheme('light')"
                        ><mat-icon>light_mode</mat-icon></li>
                        
                        <li class="opt"
                            (click)="setTheme('dark')"
                        ><mat-icon>dark_mode</mat-icon></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>