<nav>
    <div class="contain" row>
        <div class="navigation">
            <ul>
                <li class="logo"><img src="../../../assets/images/logo.png" alt=""></li>
                <li opt routerLink="/">{{ "NAV.INICIO" | translate }}</li>
                <li opt routerLink="about">{{ "NAV.SOBRE" | translate }}</li>
                <li opt routerLink="products">{{ "NAV.PRODUTOS" | translate }}</li>
                <!-- <li opt routerLink="support">{{ "NAV.APOIE" | translate }}</li> -->
            </ul>
        </div>
        <div class="settings" to-right>
            <mat-icon class="gear" id="gear" (click)="toggleConfiguration()">
                settings
            </mat-icon>
            <div class="configuration" *ngIf="showConfiguration">
                <div>
                    <ul>
                        <li class="opt" (click)="setLanguage('PT')">português</li>
                        <li class="opt" (click)="setLanguage('ES')">español</li>
                        <li class="opt" (click)="setLanguage('EN')">english</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li
                          class="opt"
                          (click)="resetTheme()"
                        ><mat-icon>light_mode</mat-icon></li>
                        <li 
                          class="opt"
                          (click)="setDarkTheme()"
                        ><mat-icon>dark_mode</mat-icon></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>