nav {
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 50;
  background-color: var(--bg-300);
  box-shadow: var(--shadow);
  color: var(--menu-text);

  .navigation {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      li {
          list-style: none;
          padding: 0.5rem;
      }

      .logo {
        max-width: 55px;
        filter: var(--svg-accent)
        ;
      }
    }
  }
}

.settings {
  position: relative;
  display: flex;
  align-items: center;
}

.gear {
  transition: transform 300ms ease;
  
  &:hover {
    transform: rotate(30deg);
  }
}
  
.configuration {
  background-color: var(--bg-300);
  color: var(--menu-text);
  position: absolute;
  top: 110%;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  min-height: max-content;
  border-radius: 4px;
  box-shadow: var(--shadow);

  div {
    width: 100%;
    padding: 0.5rem;
    top: 0;
  }

  div:last-child {
    border-left: 1px solid #bbb;
  }

  h3 {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
  }

  .opt {
    font-size: 0.8rem;
    padding: 0.4rem;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--menu-opt-hover);
    }
  }
}

.active-tab {
  text-decoration: underline;
  text-underline-offset: 4px;
}