<main>
  <h1>{{ "PAGES.ABOUT" | translate }}</h1>
  <div class="contain columns2" min-75vh>
    <div class="about-content">
      <h2>{{ "ABOUT.WORK.TITLE" | translate }}</h2>
      <p>{{ "ABOUT.WORK.PARAGRAPH_1" | translate }}</p>
      <p>{{ "ABOUT.WORK.PARAGRAPH_2" | translate }}</p>
      <p>{{ "ABOUT.WORK.PARAGRAPH_3" | translate }}</p>
      <p>{{ "ABOUT.WORK.PARAGRAPH_4" | translate }}</p>
      <p>{{ "ABOUT.WORK.PARAGRAPH_5" | translate }}</p>
    </div>
    <div pad>
      <div class="image-area">
        <img src="../../../assets/images/andressa.jpg" alt="Andressa">
      </div>
    </div>
    
  </div>
</main>