main {
  background: var(--background);
  color: var(--font);
}

.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;

  @media  (max-width: 920px) {
    display: flex;
    flex-direction: column;
  }
}

.about-content {
  width: 100%;
  max-width: calc(100vw - 90px);
}

h2 {
  width: 100%;
  margin: 2rem auto 0;
  text-align: center;
}

p {
  max-width: 70ch;
  margin: 0 auto;
  line-height: 2;
  text-indent: 2ch;
}

.image-area {
  position: relative;
  max-width: 200px;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
