#to-top {
    width: fit-content;
    height: fit-content;
    border: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    z-index: 10;
    background: var(--blue-600);
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
        background: var(--blue-500);
        transform: scale(1.1);
    }
}