:root {
  --light: #fff;
  --font-light: #000;
  --primary-light: #2eada3;
  --accent-light: #b60b0b;
  --backgroudI-light: #eee;
  --backgroudII-light: #ddd;

  --dark: #000;
  --font-dark: #eee;
  --primary-dark: #000b17;
  --accent-dark: #6e0000;
  --backgroudI-dark: #333;
  --backgroudII-dark: #222;
}