:root {
  --light: #fff;
  --font-light: #000;
  --primary-light: #44ffd2;
  --accent-light: #b60b0b;
  --backgroundI-light: #eee;
  --backgroundII-light: #ddd;

  --dark: #000;
  --font-dark: #eee;
  --primary-dark: #00313d;
  --accent-dark: #6e0000;
  --backgroundI-dark: #222;
  --backgroundII-dark: #111;
}