// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nanum+Pen+Script');

// Local Fonts
@font-face {
    font-family: 'Z Icons';
    src: url(./assets/fonts/z_icons.ttf);
}

// Colors Palette
@import '../src/colors.scss';

// Root styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Didact Gothic', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: inherit;
}

img {
    width: 100%;
}

.contain {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}

[min-75vh] {
    min-height: 75vh;
}

/* IMPORTANT STYLES */

mat-icon {
    cursor: pointer;
}

ul {
    display: block;
    min-width: max-content;
    min-height: max-content;
}

li {
    list-style-type: none;
}

[row] {
    display: flex;
    flex-direction: row;
}

[col] {
    width: 100%;
}

[pad] {
    padding: 1rem;
}

[to-right] {
    margin-left: auto;
}

[opt] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.z-icon {
    display: inline-block;
    padding: 1rem;
    color: inherit;
    font-family: 'Z Icons';
    font-size: 24pt;
    line-height: 1;
    transition: color ease 300ms;

    &:hover {
        color: var(--primary-light) !important;
    }
}

::-webkit-scrollbar {
  width: 12px;

  &-thumb {
    background: #000;
    border: solid 2px #555;
  }

  &-track {
    background: #555;
  }
}
